spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: none
    username: none
    password: none

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
      show-sql: true

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: none
            client-secret: none
            scope:
              - profile_nickname
              - account_email
            client-name: kakao
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: POST

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id