<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <title>홈페이지</title>
</head>
<body>
<h1>문의사항</h1>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>식별번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody th:each="inquiry,iterState : ${inquiryList}">
  <tr>
    <td><span th:text="${iterState.index}"></span></td>
    <td><span th:text="${inquiry.getId()}"></span></td>
    <td><span th:text="*{inquiry.getInquiryTitle()}"></span></td>
    <td><span th:text="${inquiry.getUserId()}"></span></td>
    <td><span th:text="${#temporals.format(inquiry.getRegisterDate(), 'yyyy-MM-dd HH:mm')}"></span></td>
  </tr>
  </tbody>
</table>
<!--
<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
  <a th:if="${page != nowPage}" th:href="@{/admin(page=${page - 1})}" th:text ="${page}"></a>
  <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
</th:block>
-->
<nav
    th:with="
                pageNumber = ${pageable.pageNumber},
                pageSize = ${pageable.pageSize},
                totalPages = ${inquiryList.getTotalPages()},
                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
    aria-label="Page navigation"
>
  <ul class="pagination ">
    <!-- 처음으로 이동 -->
    <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="@{/admin(page=0)}">
        <span>&laquo;</span>
        <span class="sr-only">First</span>
      </a>
    </li>

    <!-- 이전으로 이동 -->
    <li th:classappend="${inquiryList.first} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="${inquiryList.first} ? '#' : @{/admin(page=${pageNumber - 1})}" aria-label="Previous">
        <span aria-hidden="true">&lt;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <!-- 특정 페이지로 이동 -->
    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
      <a th:text="${page}" class="page-link" th:href="@{/admin(page=${page - 1})}"></a>
    </li>

    <!-- 다음으로 이동 -->
    <li th:classappend="${inquiryList.last} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="${inquiryList.last} ? '#' : @{/admin(page=${pageNumber + 1})}" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <!-- 마지막으로 이동 -->
    <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
      <a class="page-link" th:href="@{/admin(page=${totalPages - 1})}">
        <span>&raquo;</span>
        <span class="sr-only">Last</span>
      </a>
    </li>
  </ul>
</nav>

</body>
</html>

